_DOTween.Assembly/_ReSharper*
_DOTween.Assembly/bin_pro
_DOTween.Assembly/DOTweenPro*
_DOTween.Assembly/DOTween*/obj
_DOTween.Assembly/*.suo
_DOTween.Assembly/*.user
_DOTween.Assembly/.gitignore
_DOTween.Assembly/.git
ExternalPluginsTestsAndExamples*
*.Unity*/_ReSharper*
*.Unity*/Library
*.Unity*/obj
*.Unity*/Temp
*.Unity*/*.csproj
*.Unity*/*.sln
*.Unity*/*.user
*.Unity*/*.suo
*.Unity*/*.userprefs
*.Unity*/Assets/Demigiant/DOTweenPro*
*.Unity*/Assets/TK2D*
*.Unity*/Assets/-tk2d*
*.Unity*/Assets/Console*Pro*
*.Unity*/Assets/Text*Mesh*Pro*
*HOPoolOperator*
*HOTools*
zz builds
zz UnityTests*